* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(../img/concrete-texture.png);
  width: 100%;
  height: auto;
}
header {
  height: 150px;
  background-color: rgba(25, 70, 100, 0.878);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titre {
  text-align: center;
  margin: auto;
}
header > div {
  width: 33%;
}
.social {
  text-align: right;
  margin-right: 10px;
  display: block;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
  width: 60%;
}
nav {
  background-color: rgba(44, 106, 252, 0.887);
}
li {
  border: black solid 1px;
  margin: 20px;
}
main {
  background: rgba(178, 178, 178, 0.3);
  width: 1000px;
  min-height: 600px;
  margin: auto;
  opacity: 0.5;
}
.linklist a {
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}
.linklist > li {
  list-style-type: none;
  background-color: #6acafc;
  border: #fff solid 3px;
  padding: 5px;
  border-radius: 30px 30px;
  margin: 10px;
}
form {
  background: rgba(4, 7, 80, 1);
  /* background-color: #1a2530; */
  border-radius: 10%;
  width: 575px;
  min-height: 500px;
  padding: 15px;
  margin: auto;
  color: #fff;
  /* opacity: 1; */
}
