* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 886px;
}

#titre {
  color: white;
  text-align: center;
  margin: auto;
}

#location {
  text-align: center;
  color: white;
  margin: auto;
}
#center {
  justify-content: center;
  padding-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.block1 {
  display: flex;
  flex-wrap: wrap;
}

#form {
  border: 1px black solid;
  background-color: rgba(211, 203, 193, 0.442);
  color: white;
  height: 50px;
  width: 55%;
  margin: auto;
  position: relative;
  top: 700px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
}

#form input:last-child {
  padding: 10px 70px;
  background-color: green;
}

.label2 {
}

#menu {
}

#prix {
  margin-top: 10px;
  position: relative;
  left: 1900px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
#agence {
  width: 200px;
  height: 200px;
  margin: auto;
  justify-content: center;
  img {
    margin: auto;
    width: 100%;
  }
}
footer {
  width: 500px;
  height: 500px;
  justify-content: center;
  

}
